# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
/target/
/sounds/
/lib/
/psd/
/movies/
src/main/java/me/eccentric_nz/plugins/TARDIS/Constants.java

src/main/java/me/eccentric_nz/plugins/TARDIS/Materials.java

src/main/java/me/eccentric_nz/plugins/TARDIS/ImprovedOfflinePlayer_api.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDIS.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISAdminCommands.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISArea.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISAreaCommands.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISBlockBreakListener.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISBlockDamageListener.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISBlockDamageListener.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISBlockPlaceListener.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISBlockProtectListener.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISBuilder.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISConstants.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISCommands.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISDatabase.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISDestroyer.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISExplosionListener.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISMaterials.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISPlayerListener.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISPrefsCommands.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISSchematic.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISSchematicReader.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISSounds.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISTimetravel.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISTravelCommands.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISUtils.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISWitherDragonListener.java

src/main/java/me/eccentric_nz/plugins/TARDIS/TARDISWorldGuardChecker.java

src/main/resources/config.yml

src/main/resources/plugin.yml

src/main/resources/plugin.yml

src/main/java/me/eccentric_nz/TARDIS/utility/TARDISMaterials.java

src/main/java/me/eccentric_nz/TARDIS/thirdparty/ImprovedOfflinePlayer_v1_4_6.java

src/main/java/me/eccentric_nz/TARDIS/thirdparty/ImprovedOfflinePlayer_v1_4_5.java

src/main/java/me/eccentric_nz/TARDIS/TARDISConstants.java

pom.xml
