# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# vscode
.vscode/*

# svn & cvs
.svn
CVS
/target/
/sounds/
/psd/
/nbproject/
/bin/
/movies/
/OTG_Files/

# other stuff
.classpath
.project
.settings
nb-configuration.xml

.idea/
*.iml
