# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
/target/classes/
/target/generated-sources/
/target/maven-archiver/
/target/maven-status/
/target/surefire/
/target/test-classes/
/sounds/
/lib/
/psd/
/nbproject/
/bin/
/movies/

# other stuff
.classpath
.project
.settings
nb-configuration.xml

.idea/