<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-X3948VW3GW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-X3948VW3GW');
  </script>
  <meta charset="utf-8">
  <meta content="chrome=1" http-equiv="X-UA-Compatible">
  <title>TARDIS: {{ page.title }}</title>
  <link href="stylesheets/styles.css" rel="stylesheet">
  <link href="stylesheets/pygment_trac.css" rel="stylesheet">
  <link href="stylesheets/toc.css" rel="stylesheet">
  <script src="javascripts/scale.fix.js"></script>
  <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
  <meta content="TARDIS: {{ page.title }}" property="og:title" />
  <meta content="TARDIS: {{ page.title }}" property="twitter:title">
  <meta content="{{ site.description }}" property="og:description" />
  <meta content="{{ site.description }}" itemprop="description" name="description">
  <meta content="eccentricdevotion" property="article:author">
  <meta content="eccentricdevotion" itemprop="author" name="author">
  <meta content="eccentricdevotion's TARDIS Plugin Wiki" property="og:site_name" />
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-53340539-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
