@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
html {
	background: #6C7989;
	background: #6c7989 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6c7989), color-stop(100%, #434b55)) fixed;
	background: #6c7989 -webkit-linear-gradient(#6c7989, #434b55) fixed;
	background: #6c7989 -moz-linear-gradient(#6c7989, #434b55) fixed;
	background: #6c7989 -o-linear-gradient(#6c7989, #434b55) fixed;
	background: #6c7989 -ms-linear-gradient(#6c7989, #434b55) fixed;
	background: #6c7989 linear-gradient(#6c7989, #434b55) fixed;
}
body {
	font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
	font-weight: 300;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg==') fixed;
}
table#main-table { background-color: #fff; }
a {
	color: #069;
	text-decoration: none;
}
p {
	margin: 0 0 20px;
	padding: 0;
}
strong {
	color: #222;
	font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
	color: #222;
	padding: 0;
	margin: 0 0 20px;
	line-height: 1.2;
}
h1, h2, h3 { line-height: 1.1; }
h1 { font-size: 28px; }
h2 { color: #393939; }
h3, h4, h5, h6 { color: #494949; }
code, pre {
	font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
	color: #333;
	font-size: 12px;
	overflow-x: auto;
}
pre {
	padding: 20px;
	background: #3A3C42;
	color: #f8f8f2;
	margin: 0 -20px 20px;
}
pre code { color: #f8f8f2; }
/*
#top-panel { background: none; }
#top-panel td#login-field span a { background: none; }
#top-panel td #searchform a {
	background: none;
	height: auto;
	width: auto;
}
#top-panel td > a {
	display: block;
	width: 130px;
	height: 40px;
	margin: 10px 0 10px 10px;
}
#top-panel td > a img { display: none; }
#projectstatus { background: #fff; }
#projectstatus tr:nth-of-type(odd) { background-color: #e5e5e5; }
#projectstatus tr:nth-of-type(odd):hover { background-color: #f0f0f0; }
#projectstatus tr:nth-of-type(even) { background-color: white; }
#projectstatus tr:nth-of-type(even):hover { background-color: #f0f0f0; }
#left-top-nav { border-left: none; }
#side-panel { background-color: #fff; }
#side-panel > div:not(#navigation) { display: none; }
#side-panel .task a {
	display: inline-block;
	text-decoration: none;
	width: 10%;
}
#side-panel .task a + a {
	width: 83%;
	padding: 4px;
}
#side-panel .task a + a:hover { background-color: #e5e5e5; }
#side-panel .task a:hover { text-decoration: underline; }
#main-panel { background: #fff; }
#main-panel > h1 { margin-top: 0; }
#main-table {
	border-top: 0;
	border-bottom: 0;
}
#description div { font-size: 1.3em; }
#footer { border-top: 1px solid #ccc; }
#view-message #description a img { padding-right: 4px; }
*/