<!doctype html>
<html>
{% include header.html %}
<body>
<div class="wrapper">
    <header>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
        <p class="view"><a href="https://github.com/eccentricdevotion/TARDIS">View the Project on GitHub <small>eccentricdevotion/TARDIS</small></a></p>
        <ul>
            <li><a href="/TARDIS/">Back <strong>home</strong></a></li>
            <li><a href="site-map.html"><strong>Index</strong> File</a></li>
        </ul>
    </header>
    <section>
      {{ content }}
    </section>
</div>
<footer>
    <p>Project maintained by <a href="https://github.com/eccentricdevotion">eccentricdevotion</a></p>
    <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
</footer>
<!--[if !IE]><script>fixScale(document);</script><![endif]-->
</body>
</html>
