<!doctype html>
<html prefix="og: http://ogp.me/ns#">
{% include header.html %}
<body>
<div class="wrapper">
    <header>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
        <p><a href="https://github.com/eccentricdevotion/TARDIS/issues">Leave Bug Reports or Suggestions on GitHub</a></p>
        <p><a href="https://discord.gg/sfuPVHh">Join our Community Discord server!</a></p>
        <ul>
          {% if page.title contains "Home Page" %}
          {% else %}
            <li><a href="/TARDIS/">Back <strong>Home</strong></a></li>
          {% endif %}
            <li><a href="site-map.html"><strong>Index</strong> File</a></li>
        </ul>
    </header>
    <section>
      {{ content }}
    </section>
</div>
<footer>
    <p>Project maintained by <a href="https://github.com/eccentricdevotion">eccentricdevotion</a></p>
    <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
</footer>
<!--[if !IE]><script>fixScale(document);</script><![endif]-->
</body>
</html>
